<a href="https://colab.research.google.com/github/will-cotton4/COW-DataScience/blob/master/(Will)_COW_Data_Exploration_%26_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

dyadic_war_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/directed_dyadic_war.csv'
national_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/National_COW_4.0.csv'
dyadic_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/Dyadic_COW_4.0.csv'
cc_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/COW_country_codes.csv'

dyad_war = pd.read_csv(dyadic_war_url)
natl_trade = pd.read_csv(national_trade_url)
dyad_trade = pd.read_csv(dyadic_trade_url)
cc = pd.read_csv(cc_url)

## Dyadic War

In [0]:
dyad_war.shape

(1364, 23)

In [0]:
dyad_war.describe()

            warnum        disno  ...       batdths      durindx
count  1364.000000  1364.000000  ...  1.348000e+03  1364.000000
mean    125.240469   771.750733  ...  1.068525e+06     2.315249
std      45.659953  1023.415992  ...  1.766374e+06     1.667620
min       1.000000     8.000000  ...  2.000000e+02     1.000000
25%     106.000000   179.000000  ...  1.350000e+04     1.000000
50%     139.000000   258.000000  ...  3.236480e+05     2.000000
75%     151.000000  1250.000000  ...  1.270000e+06     3.000000
max     227.000000  4283.000000  ...  1.100000e+07    11.000000

[8 rows x 21 columns]

     warnum  disno  dyindex  statea  ...  StateAname  StateBname  StateAabbr  StateBabbr
442     106    257   257.24     325  ...       Italy    Bulgaria         ITA         BUL
443     106    257   257.24     325  ...       Italy    Bulgaria         ITA         BUL
444     106    257   257.24     325  ...       Italy    Bulgaria         ITA         BUL

[3 rows x 25 columns]

In [0]:
dyad_war[dyad_war['batdtha'].isnull()].T

                             821   ...                 1265
warnum                        139  ...                  186
disno                        1694  ...                 1441
dyindex                      1694  ...                 1441
statea                        800  ...                  560
stateb                        710  ...                   40
warstrtmnth                     5  ...                    8
warstrtday                     10  ...                    4
warstrtyr                    1942  ...                 1987
warendmnth                      5  ...                    6
warenday                       17  ...                   27
warendyr                     1942  ...                 1988
year                         1942  ...                 1988
warolea                         1  ...                    3
waroleb                         4  ...                    1
wardyadrolea                    1  ...                    1
wardyadroleb                    3  ...                    3
outcomea                        2  ...                    2
batdtha                       NaN  ...                  NaN
batdthb                      1000  ...                  NaN
batdths                       NaN  ...                  NaN
durindx                         1  ...                    2
StateAname               Thailand  ...         South Africa
StateBname                  China  ...                 Cuba
StateAabbr                    THI  ...                  SAF
StateBabbr                    CHN  ...                  CUB
pdt           1942-05-17 00:00:00  ...  1988-06-27 00:00:00

[26 rows x 14 columns]

In [0]:
dyad_war['warendyr'] = dyad_war['warendyr'].replace({19118:1918})
dyad_war['pdt'] = pd.to_datetime((dyad_war['warendmnth'].astype(str) +'/'+ dyad_war['warenday'].astype(str)+ '/' + dyad_war['warendyr'].astype(str)).astype(str))

**According to the guidebook for this dataset, the `changes` columns are administrative and contain information about the differences between the different COW versions, so these columns are unlikely to provide any direct predictive capabilities. We'll drop them here.**

In [0]:
dyad_war.columns

Index(['warnum', 'disno', 'dyindex', 'statea', 'stateb', 'warstrtmnth',
       'warstrtday', 'warstrtyr', 'warendmnth', 'warenday', 'warendyr', 'year',
       'warolea', 'waroleb', 'wardyadrolea', 'wardyadroleb', 'outcomea',
       'batdtha', 'batdthb', 'batdths', 'durindx', 'StateAname', 'StateBname',
       'StateAabbr', 'StateBabbr', 'end_dt', 'start_dt'],
      dtype='object')

In [1]:
!pip install category-encoders

Collecting category-encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 3.5MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.21.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.3.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (1.16.4)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category-encoders) (0.9.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category-encoders) (0.13.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category-encoders) (2.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category-encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [28]:
print((dyad_war.StateAname.value_counts().keys()))

Index(['Germany', 'Russia', 'China', 'Vietnam', 'France', 'Italy',
       'United Kingdom', 'Turkey', 'North Korea', 'Japan',
       'United States of America', 'Austria-Hungary', 'Australia', 'Bulgaria',
       'Greece', 'Iraq', 'Yugoslavia', 'South Africa', 'Israel', 'New Zealand',
       'Romania', 'South Korea', 'Canada', 'Paraguay', 'Thailand', 'Ethiopia',
       'Spain', 'Belgium', 'Republic of Vietnam', 'Philippines', 'Hungary',
       'Brazil', 'Egypt', 'Iran', 'Chile', 'Argentina', 'Netherlands',
       'Mexico', 'Finland', 'Mecklenburg Schwerin', 'Colombia', 'Laos', 'Cuba',
       'Estonia', 'India', 'Bolivia', 'Angola', 'Poland', 'Peru', 'Cambodia',
       'El Salvador', 'Pakistan', 'Syria', 'Baden', 'Guatemala',
       'Papal States', 'Morocco', 'Latvia', 'Democratic Republic of the Congo',
       'Jordan', 'Bavaria', 'Wuerttemburg', 'Denmark', 'Hesse Grand Ducal',
       'Somalia', 'Two Sicilies', 'Saxony', 'Honduras', 'Tanzania', 'Taiwan',
       'Hanover', 'Eritrea', 'Saudi Arabia', 'Hesse Electoral', 'Armenia',
       'Afghanistan', 'Nicaragua', 'Azerbaijan', 'Portugal', 'Libya', 'Uganda',
       'Mongolia', 'Norway', 'Chad', 'Tuscany', 'Modena', 'Lithuania',
       'Czechoslovakia', 'Ecuador', 'Cyprus', 'Yemen Arab Republic',
       'Lebanon'],
      dtype='object')

In [25]:
ssa = ['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon',
         'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 
         'Democratic Republic of the Congo', "Côte d'Ivoire", 'Djibouti', 
         'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'The Gambia', 
         'Ghana', 'Guinea',
         'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi',
         'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Namibia', 'Niger', 
         'Nigeria', 'Réunion', 'Rwanda', 'Sao Tome and Principe', 'Senegal',
         'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan',
         'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Western Sahara', 'Sahara',
         'Zambia', 'Zimbabwe']
for country in ssa:
  if country not in dyad_war.StateAname.value_counts().keys():
    print(country)

Benin
Botswana
Burkina Faso
Burundi
Cameroon
Cape Verde
Central African Republic
Comoros
Congo
Congo DR
Côte d'Ivoire
Djibouti
Equatorial Guinea
Gabon
The Gambia
Ghana
Guinea
Guinea-Bissau
Kenya
Lesotho
Liberia
Madagascar
Malawi
Mali
Mauritania
Mauritius
Mozambique
Namibia
Niger
Nigeria
Réunion
Rwanda
Sao Tome and Principe
Senegal
Seychelles
Sierra Leone
Sudan
Swaziland
Togo
Western Sahara
Sahara
Zambia
Zimbabwe

In [35]:
import pandas as pd
import category_encoders as ce
from sklearn.preprocessing import StandardScaler

dyadic_war_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/directed_dyadic_war.csv'
national_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/National_COW_4.0.csv'
dyadic_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/Dyadic_COW_4.0.csv'
cc_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/COW_country_codes.csv'

dyad_war = pd.read_csv(dyadic_war_url)
cc = pd.read_csv(cc_url)

def clean_dyad_war(df):
  """
  This function cleans the dyadic war dataset:
  - Removes irrelevant/administrative columns
  - Replace country codes with name of country and abbreviation
  - Clean dates and convert to datetime
  - Encode warolea, waroleb, wardyadrolea, wardyadroleb, outcomea (one-hot)
  - Standardize batdtha, batdthb, batdths (commented out)
  - Add Middle East/sub-saharan Africa categorical
  - TODO: (STRETCH) Add count of wars from last ten years
  - TODO: (STRETCH) Add interaction feature between count of wars and warole
  """
  
  df = df.copy()
  
  df = df.drop(columns=['changes_1', 'changes_2', 'disno', 'dyindex'])
  
  # Create dicts to hold CCode:Name and CCode: Abbrv

  name_dict = {row[1]['CCode']: row[1]['StateNme'] for row in cc.iterrows()}
  abbr_dict = {row[1]['CCode']: row[1]['StateAbb'] for row in cc.iterrows()}
  
  df['StateAname'] = df['statea'].replace(name_dict)
  df['StateBname'] = df['stateb'].replace(name_dict)
  df['StateAabbr'] = df['statea'].replace(abbr_dict)
  df['StateBabbr'] = df['stateb'].replace(abbr_dict)
  
  # Repair broken cells and convert to DT
  df['warendyr'] = df['warendyr'].replace({19118:1918})
  df['start_dt'] = pd.to_datetime((df['warstrtmnth'].astype(str) +'/'+ df['warstrtday'].astype(str)+ '/' + df['warstrtyr'].astype(str)).astype(str))
  df['end_dt'] = pd.to_datetime((df['warendmnth'].astype(str) +'/'+ df['warenday'].astype(str)+ '/' + df['warendyr'].astype(str)).astype(str))
  old_dates = ['warstrtmnth', 'warstrtday', 'warstrtyr', 'warendmnth', 'warenday', 'warendyr']
  df = df.drop(columns=old_dates)
  
  # One-hot encoding:
  to_one_hot = ['warolea', 'waroleb', 'wardyadrolea',
                'wardyadroleb', 'outcomea']
  one_hot = ce.OneHotEncoder(cols = to_one_hot)
  df = df.merge(one_hot.fit_transform(df))
  df = df.drop(columns=to_one_hot)
  
  # Standardize:
  # to_scale = ['batdtha', 'batdthb', 'batdths']
  # scaler = StandardScaler()
  # df[to_scale] = scaler.fit_transform(df[to_scale])
  
  # Add categoricals to designate whether in the Middle East or 
  # sub-Saharan Africa
  
  middle_east = ['Bahrain', 'Cyprus', 'Egypt', 'Iran', 'Iraq', 'Israel', 
                 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar', 'Saudi Arabia',
                 'Syria', 'Turkey', 'United Arab Emirates', 'Yemen Arab Republic']
  ssa = ['Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon',
         'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Congo', 
         'Congo DR', "Côte d'Ivoire", 'Djibouti', 'Equatorial Guinea', 
         'Eritrea', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea',
         'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi',
         'Mali', 'Mauritania', 'Mauritius', 'Mozambique', 'Namibia', 'Niger', 
         'Nigeria', 'Réunion', 'Rwanda', 'Sao Tome and Principe', 'Senegal',
         'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan',
         'Swaziland', 'Tanzania', 'Togo', 'Uganda', 'Western Sahara', 'Sahara',
         'Zambia', 'Zimbabwe']
  me_ssa = middle_east + ssa
  
  df['in_me_ssa'] = df['StateAname'].isin(me_ssa)
  return df
dyad_war = clean_dyad_war(dyad_war)
dyad_war

      warnum  statea  stateb  ...  outcomea_3  outcomea_4  in_me_ssa
0          1     220     230  ...           0           0      False
1          1     230     220  ...           0           0      False
2          4     365     640  ...           0           0      False
3          4     365     640  ...           0           0      False
4          4     640     365  ...           0           0       True
5          4     640     365  ...           0           0       True
6          7       2      70  ...           0           0      False
7          7       2      70  ...           0           0      False
8          7      70       2  ...           0           0      False
9          7      70       2  ...           0           0      False
10        10     300     325  ...           0           0      False
11        10     300     325  ...           0           0      False
12        10     325     300  ...           0           0      False
13        10     325     300  ...           0           0      False
14        10     300     332  ...           0           0      False
15        10     332     300  ...           0           0      False
16        10     300     337  ...           0           0      False
17        10     337     300  ...           0           0      False
18        13     255     390  ...           1           0      False
19        13     255     390  ...           1           0      False
20        13     390     255  ...           1           0      False
21        13     390     255  ...           1           0      False
22        16     220     327  ...           0           0      False
23        16     327     220  ...           0           0      False
24        16     300     327  ...           0           0      False
25        16     327     300  ...           0           0      False
26        16     327     329  ...           0           0      False
27        16     329     327  ...           0           0      False
28        19     140     160  ...           0           0      False
29        19     140     160  ...           0           0      False
...      ...     ...     ...  ...         ...         ...        ...
1334     211     645     651  ...           0           0       True
1335     211     651     645  ...           0           0       True
1336     211     645     652  ...           0           0       True
1337     211     652     645  ...           0           0       True
1338     211     645     670  ...           0           0       True
1339     211     670     645  ...           0           0       True
1340     216     371     373  ...           0           0      False
1341     216     371     373  ...           0           0      False
1342     216     373     371  ...           0           0      False
1343     216     373     371  ...           0           0      False
1344     219     530     531  ...           1           0       True
1345     219     530     531  ...           1           0       True
1346     219     530     531  ...           1           0       True
1347     219     531     530  ...           1           0       True
1348     219     531     530  ...           1           0       True
1349     219     531     530  ...           1           0       True
1350     221       2     345  ...           0           0      False
1351     221     345       2  ...           0           0      False
1352     223     750     770  ...           0           0      False
1353     223     770     750  ...           0           0      False
1354     225       2     700  ...           0           0      False
1355     225     700       2  ...           0           0      False
1356     225     200     700  ...           0           0      False
1357     225     700     200  ...           0           0      False
1358     227       2     645  ...           0           0      False
1359     227     645       2  ...           0           0       True
1360     227     200     645  ...           0           0      False
1361     227     645     200  ...           0           0       True
1362     227     645     900  ...           0           0       True
1363     227     900     645  ...           0           0      False

[1364 rows x 32 columns]

In [46]:
dyad_war.groupby('StateAname')['year'].count()

StateAname
Afghanistan                          2
Angola                               6
Argentina                            9
Armenia                              2
Australia                           31
Austria-Hungary                     38
Azerbaijan                           2
Baden                                4
Bavaria                              4
Belgium                             12
Bolivia                              6
Brazil                              11
Bulgaria                            29
Cambodia                             5
Canada                              17
Chad                                 1
Chile                                9
China                               82
Colombia                             7
Cuba                                 7
Cyprus                               1
Czechoslovakia                       1
Democratic Republic of the Congo     4
Denmark                              4
Ecuador                              1
Egypt                               11
El Salvador                          5
Eritrea                              3
Estonia                              6
Ethiopia                            14
                                    ..
Pakistan                             5
Papal States                         4
Paraguay                            17
Peru                                 6
Philippines                         11
Poland                               6
Portugal                             2
Republic of Vietnam                 11
Romania                             18
Russia                              86
Saudi Arabia                         3
Saxony                               3
Somalia                              3
South Africa                        22
South Korea                         17
Spain                               13
Syria                                5
Taiwan                               3
Tanzania                             3
Thailand                            15
Turkey                              59
Tuscany                              1
Two Sicilies                         3
Uganda                               2
United Kingdom                      60
United States of America            38
Vietnam                             62
Wuerttemburg                         4
Yemen Arab Republic                  1
Yugoslavia                          23
Name: year, Length: 92, dtype: int64

In [73]:
dyad_war.sort_values(by=['StateAname', 'year'])
countries = dyad_war.StateAname.value_counts().keys()

      warnum  statea  stateb  ...  outcomea_3  outcomea_4  in_me_ssa
1355     225     700       2  ...           0           0      False
1357     225     700     200  ...           0           0      False
1268     186     540     490  ...           1           0       True
1270     186     540     560  ...           1           0       True
1269     186     540     490  ...           1           0       True
1271     186     540     560  ...           1           0       True
1272     186     540     560  ...           1           0       True
1273     186     540     560  ...           1           0       True
30        19     160     140  ...           0           0      False
31        19     160     140  ...           0           0      False
112       49     160     150  ...           0           0      False
113       49     160     150  ...           0           0      False
114       49     160     150  ...           0           0      False
115       49     160     150  ...           0           0      False
116       49     160     150  ...           0           0      False
117       49     160     150  ...           0           0      False
1316     202     160     200  ...           0           0      False
1340     216     371     373  ...           0           0      False
1341     216     371     373  ...           0           0      False
606      139     900     325  ...           0           0      False
607      139     900     325  ...           0           0      False
797      139     900     255  ...           0           0      False
837      139     900     220  ...           0           0      False
608      139     900     325  ...           0           0      False
732      139     900     740  ...           0           0      False
798      139     900     255  ...           0           0      False
609      139     900     325  ...           0           0      False
733      139     900     740  ...           0           0      False
799      139     900     255  ...           0           0      False
734      139     900     740  ...           0           0      False
...      ...     ...     ...  ...         ...         ...        ...
1297     193     816     710  ...           1           0      False
1323     208     816     710  ...           1           0      False
141       55     271     255  ...           0           0      False
156       55     271     280  ...           0           0      False
158       55     271     325  ...           0           0      False
181       58     271     220  ...           0           0      False
563      125     678     670  ...           0           0       True
250      100     345     640  ...           0           0      False
251      100     345     640  ...           0           0      False
262      103     345     355  ...           0           0      False
319      106     345     300  ...           0           0      False
320      106     345     300  ...           0           0      False
398      106     345     255  ...           0           0      False
412      106     345     355  ...           0           0      False
321      106     345     300  ...           0           0      False
399      106     345     255  ...           0           0      False
413      106     345     355  ...           0           0      False
420      106     345     640  ...           0           0      False
322      106     345     300  ...           0           0      False
400      106     345     255  ...           0           0      False
414      106     345     355  ...           0           0      False
421      106     345     640  ...           0           0      False
323      106     345     300  ...           0           0      False
401      106     345     255  ...           0           0      False
415      106     345     355  ...           0           0      False
422      106     345     640  ...           0           0      False
611      139     345     310  ...           0           0      False
807      139     345     325  ...           0           0      False
809      139     345     255  ...           0           0      False
1351     221     345       2  ...           0           0      False

[1364 rows x 32 columns]

In [22]:
split_str = """Angola
Benin
Botswana
Burkina Faso
Burundi
Cameroon
Cape Verde
Central African Republic
Chad
Comoros
Congo (Brazzaville)
Congo (Democratic Republic)
Côte d'Ivoire
Djibouti
Equatorial Guinea
Eritrea
Ethiopia
Gabon
The Gambia
Ghana
Guinea
Guinea-Bissau
Kenya
Lesotho
Liberia	Madagascar
Malawi
Mali
Mauritania
Mauritius
Mozambique
Namibia
Niger
Nigeria
Réunion
Rwanda
Sao Tome and Principe
Senegal
Seychelles
Sierra Leone
Somalia
South Africa
Sudan
Swaziland
Tanzania
Togo
Uganda
Western Sahara
Zambia
Zimbabwe"""
ssa = split_str.split()
ssa

['Angola',
 'Benin',
 'Botswana',
 'Burkina',
 'Faso',
 'Burundi',
 'Cameroon',
 'Cape',
 'Verde',
 'Central',
 'African',
 'Republic',
 'Chad',
 'Comoros',
 'Congo',
 '(Brazzaville)',
 'Congo',
 '(Democratic',
 'Republic)',
 'Côte',
 "d'Ivoire",
 'Djibouti',
 'Equatorial',
 'Guinea',
 'Eritrea',
 'Ethiopia',
 'Gabon',
 'The',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Réunion',
 'Rwanda',
 'Sao',
 'Tome',
 'and',
 'Principe',
 'Senegal',
 'Seychelles',
 'Sierra',
 'Leone',
 'Somalia',
 'South',
 'Africa',
 'Sudan',
 'Swaziland',
 'Tanzania',
 'Togo',
 'Uganda',
 'Western',
 'Sahara',
 'Zambia',
 'Zimbabwe']

## National Trade

In [0]:
natl_trade.shape

(14410, 11)

In [0]:
natl_trade.isnull().sum()

ccode              0
statename          0
stateabb           0
year               0
imports         1548
exports          821
alt_imports    14320
alt_exports    14320
source1         1503
source2          565
version            0
dtype: int64

In [0]:
natl_trade[natl_trade.isnull().any(axis=1)]

       ccode                       statename stateabb  year  imports    exports
1032      58               Antigua & Barbuda      AAB  1960      NaN   6.298000
1033      58               Antigua & Barbuda      AAB  1961      NaN   6.298000
1034      58               Antigua & Barbuda      AAB  1962      NaN   6.298000
1035      58               Antigua & Barbuda      AAB  1963      NaN   6.298000
1036      58               Antigua & Barbuda      AAB  1964      NaN   6.298000
1037      58               Antigua & Barbuda      AAB  1965      NaN   6.298000
1038      58               Antigua & Barbuda      AAB  1966      NaN   6.298000
1039      58               Antigua & Barbuda      AAB  1967      NaN   6.298000
1040      58               Antigua & Barbuda      AAB  1968      NaN   6.298000
1041      58               Antigua & Barbuda      AAB  1969      NaN   6.298000
1042      58               Antigua & Barbuda      AAB  1970      NaN   6.298000
1043      58               Antigua & Barbuda      AAB  1971      NaN   6.298000
1044      58               Antigua & Barbuda      AAB  1972      NaN   6.298000
1045      58               Antigua & Barbuda      AAB  1973      NaN   6.298000
1046      58               Antigua & Barbuda      AAB  1974      NaN   6.298000
1047      58               Antigua & Barbuda      AAB  1975      NaN   6.298000
1048      58               Antigua & Barbuda      AAB  1976      NaN   6.298000
1049      58               Antigua & Barbuda      AAB  1977      NaN   8.847000
1050      58               Antigua & Barbuda      AAB  1978      NaN   5.615000
1051      58               Antigua & Barbuda      AAB  1979      NaN   1.660000
1052      58               Antigua & Barbuda      AAB  1980      NaN   6.214407
1053      58               Antigua & Barbuda      AAB  1981      NaN  10.137444
1054      58               Antigua & Barbuda      AAB  1982      NaN  14.816037
1055      58               Antigua & Barbuda      AAB  1983      NaN  12.688598
1056      58               Antigua & Barbuda      AAB  1984      NaN   6.162902
1057      58               Antigua & Barbuda      AAB  1985      NaN   8.087241
1058      58               Antigua & Barbuda      AAB  1986      NaN   5.745914
1059      58               Antigua & Barbuda      AAB  1987      NaN  12.950995
1060      58               Antigua & Barbuda      AAB  1988      NaN  34.244578
1061      58               Antigua & Barbuda      AAB  1989      NaN  39.143237
...      ...                             ...      ...   ...      ...        ...
14325    983                Marshall Islands      MSI  2006      NaN        NaN
14326    986                           Palau      PAL  1994      NaN        NaN
14327    986                           Palau      PAL  1995      NaN        NaN
14328    986                           Palau      PAL  1996      NaN        NaN
14329    986                           Palau      PAL  1997      NaN        NaN
14330    986                           Palau      PAL  1998      NaN        NaN
14331    986                           Palau      PAL  1999      NaN        NaN
14332    986                           Palau      PAL  2000      NaN        NaN
14333    986                           Palau      PAL  2001      NaN        NaN
14334    986                           Palau      PAL  2002      NaN        NaN
14335    986                           Palau      PAL  2003      NaN        NaN
14336    986                           Palau      PAL  2004      NaN        NaN
14337    986                           Palau      PAL  2005      NaN        NaN
14338    986                           Palau      PAL  2006      NaN        NaN
14339    987  Federated States of Micronesia      FSM  1991      NaN        NaN
14340    987  Federated States of Micronesia      FSM  1992      NaN        NaN
14341    987  Federated States of Micronesia      FSM  1993      NaN        NaN
14342    987  Federated States of Micronesia      FSM  1994      NaN        NaN
14343    987  Federated States of Micronesia      FSM  1995      NaN        NaN
14344    987  Federated States of Micronesia      FSM  1996      NaN        NaN
14345    987  Federated States of Micronesia      FSM  1997      NaN        NaN
14346    987  Federated States of Micronesia      FSM  1998      NaN        NaN
14347    987  Federated States of Micronesia      FSM  1999      NaN        NaN
14348    987  Federated States of Micronesia      FSM  2000      NaN        NaN
14349    987  Federated States of Micronesia      FSM  2001      NaN        NaN
14350    987  Federated States of Micronesia      FSM  2002      NaN        NaN
14351    987  Federated States of Micronesia      FSM  2003      NaN        NaN
14352    987  Federated States of Micronesia      FSM  2004      NaN        NaN
14353    987  Federated States of Micronesia      FSM  2005      NaN        NaN
14354    987  Federated States of Micronesia      FSM  2006      NaN        NaN

[644 rows x 6 columns]

In [77]:
import pandas as pd

dyadic_war_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/directed_dyadic_war.csv'
national_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/National_COW_4.0.csv'
dyadic_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/Dyadic_COW_4.0.csv'
cc_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/COW_country_codes.csv'

natl_trade = pd.read_csv(national_trade_url)
cc = pd.read_csv(cc_url)

natl_trade = pd.read_csv(national_trade_url)

def clean_natl_trade(df):
  # This method cleans the national trade dataset:
  # - Removes alt_imports and alt_exports; these were specially designated for
  #   Belgium and Luxembourg (who have a special economic relationsip) and China
  #   (due to the special status of Macao and Hong Kong)
  # - Removes version, source1, and source2 (reporting variables, unrelated to 
  #   status of country)
  # - Use forward fill for each country missing import/export data, then back
  #   fill to capture missing data. The remaining rows are dropped, because
  #   they correspond to countries with no import/export data at all.
  # - Standardize imports, exports (commented out)
  # - Add trade deficit feature
  # - Add increase/decrease in imports/exports from past year/past 5 years
  
  df = df.copy()
  
  df = df.drop(columns=['alt_imports', 'alt_exports', 
                        'source1', 'source2', 'version'])
  inc_cond = df['imports'].isnull()
  incomplete = df[inc_cond]['statename'].value_counts().keys()
  
  for state in incomplete:
    state_cond = df['statename'] == state
    df[state_cond] = df[state_cond].ffill(axis=0)
    df[state_cond] = df[state_cond].bfill(axis=0)
  
  df = df.dropna()
  
  # Standardize:
  # to_scale = ['imports', 'exports']
  # scaler = StandardScaler()
  # df[to_scale] = scaler.fit_transform(df[to_scale])
  
  # Add surplus column
  df['surplus'] = df['exports'] - df['imports']
  
  # Add columns measuring change in exports/imports over one/five years
  
  df['expt_past_yr'] = df['exports'] - df['exports'].shift(periods=1)
  df['expt_past_5_yrs'] = df['exports'] - df['exports'].shift(periods=5)
  
  df['impt_past_yr'] = df['imports'] - df['imports'].shift(periods=1)
  df['impt_past_5_yrs'] = df['imports'] - df['imports'].shift(periods=5)
  df = df.bfill()
  return df

natl_trade = clean_natl_trade(natl_trade)
natl_trade

       ccode                 statename  ... impt_past_yr  impt_past_5_yrs
0          2  United States of America  ...    84.000000        83.000000
1          2  United States of America  ...    84.000000        83.000000
2          2  United States of America  ...    98.000000        83.000000
3          2  United States of America  ...  -289.970001        83.000000
4          2  United States of America  ...   233.970001        83.000000
5          2  United States of America  ...   -43.000000        83.000000
6          2  United States of America  ...   -64.000000       -65.000000
7          2  United States of America  ...    -3.000000      -166.000000
8          2  United States of America  ...   -13.000000       110.970001
9          2  United States of America  ...     8.000000      -115.000000
10         2  United States of America  ...   206.950012       134.950012
11         2  United States of America  ...   -13.950012       185.000000
12         2  United States of America  ...    79.000000       267.000000
13         2  United States of America  ...     1.000000       281.000000
14         2  United States of America  ...   -51.000000       222.000000
15         2  United States of America  ...  -105.479980       -90.429993
16         2  United States of America  ...    75.479980        -1.000000
17         2  United States of America  ...    56.000000       -24.000000
18         2  United States of America  ...    30.000000         5.000000
19         2  United States of America  ...    24.000000        80.000000
20         2  United States of America  ...    26.309998       211.789978
21         2  United States of America  ...    73.690002       210.000000
22         2  United States of America  ...   -16.000000       138.000000
23         2  United States of America  ...    42.000000       150.000000
24         2  United States of America  ...  -221.000000       -95.000000
25         2  United States of America  ...   111.719971        -9.590027
26         2  United States of America  ...    29.280029       -54.000000
27         2  United States of America  ...   -13.000000       -51.000000
28         2  United States of America  ...  -149.000000      -242.000000
29         2  United States of America  ...    81.000000        60.000000
...      ...                       ...  ...          ...              ...
14380    990                     Samoa  ...    14.443671         2.191000
14381    990                     Samoa  ...    -6.119000        -8.451000
14382    990                     Samoa  ...    17.144427        26.026427
14383    990                     Samoa  ...     8.850953        33.442358
14384    990                     Samoa  ...     9.416168        43.736219
14385    990                     Samoa  ...     6.023105        35.315653
14386    990                     Samoa  ...    -0.915177        40.519476
14387    990                     Samoa  ...    11.497223        34.872272
14388    990                     Samoa  ...    -7.553396        18.467923
14389    990                     Samoa  ...   -22.666960       -13.615205
14390    990                     Samoa  ...    63.240979        43.602669
14391    990                     Samoa  ...    19.179108        63.696953
14392    990                     Samoa  ...   -19.828419        32.371311
14393    990                     Samoa  ...     3.417161        43.341868
14394    990                     Samoa  ...    15.177680        81.186509
14395    990                     Samoa  ...   112.504570       130.450100
14396    990                     Samoa  ...     2.390506       113.661498
14397    990                     Samoa  ...   -97.404953        36.084963
14398    990                     Samoa  ...    75.998356       108.666159
14399    990                     Samoa  ...    33.634215       127.122694
14400    990                     Samoa  ...   352.244645       366.862768
14401    990                     Samoa  ...  -323.482533        40.989730
14402    990                     Samoa  ...    25.635532       164.030215
14403    990                     Samoa  ...    31.557070       119.588928
14404    990                     Samoa  ...   -33.729084        52.225629
14405    990                     Samoa  ...   120.147355      -179.871661
14406    990                     Samoa  ...    31.896816       175.507688
14407    990                     Samoa  ...     6.402343       156.274499
14408    990                     Samoa  ...   -24.758782        99.958647
14409    990                     Samoa  ...   -22.663350       111.024381

[13766 rows x 11 columns]

## Dyadic trade

In [0]:
dyad_trade

        ccode1  ccode2  year  ... source1 source2  version
0            2      20  1920  ...     1.0     1.0        4
1            2      20  1921  ...     1.0     1.0        4
2            2      20  1922  ...     1.0     1.0        4
3            2      20  1923  ...     1.0     1.0        4
4            2      20  1924  ...     1.0     1.0        4
5            2      20  1925  ...     1.0     1.0        4
6            2      20  1926  ...     1.0     1.0        4
7            2      20  1927  ...     1.0     1.0        4
8            2      20  1928  ...     1.0     1.0        4
9            2      20  1929  ...     1.0     1.0        4
10           2      20  1930  ...    -9.0     1.0        4
11           2      20  1931  ...     1.0     1.0        4
12           2      20  1932  ...     1.0     1.0        4
13           2      20  1933  ...     1.0     1.0        4
14           2      20  1934  ...     1.0     1.0        4
15           2      20  1935  ...     1.0     1.0        4
16           2      20  1936  ...     1.0     1.0        4
17           2      20  1937  ...     1.0     1.0        4
18           2      20  1938  ...     1.0     1.0        4
19           2      20  1939  ...    -9.0    -9.0        4
20           2      20  1940  ...    -9.0    -9.0        4
21           2      20  1941  ...    -9.0    -9.0        4
22           2      20  1942  ...    -9.0    -9.0        4
23           2      20  1943  ...    -9.0    -9.0        4
24           2      20  1944  ...    -9.0    -9.0        4
25           2      20  1945  ...    -9.0    -9.0        4
26           2      20  1946  ...    -9.0    -9.0        4
27           2      20  1947  ...    -9.0    -9.0        4
28           2      20  1948  ...     1.0     1.0        4
29           2      20  1949  ...     1.0     1.0        4
...        ...     ...   ...  ...     ...     ...      ...
886798     986     990  2009  ...    -9.0    -9.0        4
886799     986     990  2010  ...    -9.0    -9.0        4
886800     986     990  2011  ...    -9.0    -9.0        4
886801     986     990  2012  ...    -9.0    -9.0        4
886802     986     990  2013  ...    -9.0    -9.0        4
886803     986     990  2014  ...    -9.0    -9.0        4
886804     987     990  1991  ...    -9.0    -9.0        4
886805     987     990  1992  ...    -9.0    -9.0        4
886806     987     990  1993  ...    -9.0    -9.0        4
886807     987     990  1994  ...    -9.0    -9.0        4
886808     987     990  1995  ...    -9.0    -9.0        4
886809     987     990  1996  ...    -9.0    -9.0        4
886810     987     990  1997  ...    -9.0    -9.0        4
886811     987     990  1998  ...    -9.0    -9.0        4
886812     987     990  1999  ...    -9.0    -9.0        4
886813     987     990  2000  ...    -9.0    -9.0        4
886814     987     990  2001  ...    -9.0    -9.0        4
886815     987     990  2002  ...    -9.0    -9.0        4
886816     987     990  2003  ...    -9.0    -9.0        4
886817     987     990  2004  ...    -9.0    -9.0        4
886818     987     990  2005  ...    -9.0    -9.0        4
886819     987     990  2006  ...    -9.0    -9.0        4
886820     987     990  2007  ...    -9.0    -9.0        4
886821     987     990  2008  ...    -9.0    -9.0        4
886822     987     990  2009  ...    -9.0    -9.0        4
886823     987     990  2010  ...    -9.0    -9.0        4
886824     987     990  2011  ...    -9.0    -9.0        4
886825     987     990  2012  ...    -9.0    -9.0        4
886826     987     990  2013  ...    -9.0    -9.0        4
886827     987     990  2014  ...    -9.0    -9.0        4

[886828 rows x 23 columns]

In [0]:
dyad_trade.isnull().sum()

ccode1               0
ccode2               0
year                 0
importer1            0
importer2            0
flow1                0
flow2                0
smoothflow1          0
smoothflow2          0
smoothtotrade        0
spike1               0
spike2               0
dip1                 0
dip2                 0
trdspike             0
tradedip             0
bel_lux_alt_flow1    0
bel_lux_alt_flow2    0
china_alt_flow1      0
china_alt_flow2      0
source1              0
source2              0
version              0
dtype: int64

In [0]:
dyad_trade.describe()

              ccode1         ccode2  ...        source2   version
count  886828.000000  886828.000000  ...  886828.000000  886828.0
mean      295.306888     588.229957  ...      -0.223936       4.0
std       206.687855     220.663589  ...       5.435256       0.0
min         2.000000      20.000000  ...      -9.000000       4.0
25%       100.000000     433.000000  ...      -9.000000       4.0
50%       265.000000     620.000000  ...       3.000000       4.0
75%       436.000000     750.000000  ...       3.000000       4.0
max       987.000000     990.000000  ...       6.000000       4.0

[8 rows x 21 columns]

In [0]:
import pandas as pd
import numpy as np

dyadic_war_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/directed_dyadic_war.csv'
national_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/National_COW_4.0.csv'
dyadic_trade_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/Dyadic_COW_4.0.csv'
cc_url = 'https://raw.githubusercontent.com/will-cotton4/COW-DataScience/master/COW_country_codes.csv'

dyad_trade = pd.read_csv(dyadic_trade_url)
cc = pd.read_csv(cc_url)

def clean_dyad_trade(df):
  # This function cleans the dyadic trade dataset:
  # - Removes admin. and sparse variables (mentioned in natl_trade_clean)
  # - Removes years past 2007
  # - Imputes NaNs to missing values (-9)
  # - Adds column recording missing records
  # - Replaces missing values with forward/backfill for country
  # - Standardizes flow1, flow2, smoothflow1, 
  #   smoothflow2, smoothtotrade (commented out for now)
  # - TODO: Add imports to/exports from US, counter
  
  df = df.copy()
  
  df = df.drop(columns=['bel_lux_alt_flow1', 'bel_lux_alt_flow2',
                        'china_alt_flow1', 'china_alt_flow2', 
                        'source1', 'source2', 'version'])
  
#   flow1	flow2	smoothflow1	smoothflow2	smoothtotrade	
  df = df[df['year'] <= 2007]
  
  df = df.replace({-9:np.NaN})
  df['full_data'] = df[['flow1',	'flow2',	'smoothflow1',	'smoothflow2',	'smoothtotrade']].isnull().any(axis='columns')
  
  for country in df['importer1']:
    df[df['importer1']==country] = df[df['importer1']==country].fillna(method='ffill')
    df[df['importer1']==country] = df[df['importer1']==country].fillna(method='bfill')
    
  # Remaining values are from countries that totally lack data
  
  df = df.dropna()
  
  
  # Standardize:
  #   to_scale = ['flow1', 'flow2', 'smoothflow1', 'smoothflow2', 'smoothtotrade']
  #   scaler = StandardScaler()
  #   df[to_scale] = scaler.fit_transform(df[to_scale])
  
  return df

dyad_trade = clean_dyad_trade(dyad_trade)
dyad_trade

# print(dyad_trade.shape)